.site-header {
  	min-height: 0;
  	//padding: 15px 0;
}

.navbar {
	margin-bottom: 0px;
}

.logo__img {
  	width: auto;
  	height: auto;
  	//max-width: 400px;
 	//max-height: 80px;
}

//Custom Header
.standard-header {
	background-color: $brand-primary; 
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	h1 {
		//color: #fff;
	}
}

.custom-header {
	background-color: $brand-primary; 
	padding-top: 60px;
	padding-bottom: 60px;
	@include bp-sm {
		padding-top: 85px;
		padding-bottom: 85px;
	}
    @include bp-md {
    	padding-top: 115px;
    	padding-bottom: 115px;
    } 	
} 

.custom-background-header {
	background-color: $brand-primary;
    background-size: cover;
    background-position: center center;
}
.image-header {
    background-size: cover;
    background-position: center center;
    background-color: $brand-primary;
    text-align: left;
    padding-top: 60px;
    padding-bottom: 60px;
    @include bp-sm {
    	padding-top: 85px;
    	padding-bottom: 85px;
    }
    @include bp-md {
    	padding-top: 115px;
    	padding-bottom: 115px;
    }
}


.standard-header, .image-header {
    h1 {
    	margin-bottom: 0px;
    }	
}