// wraps the logo itself and the widget area
.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 0;

  &::before,
  &::after {
    display: none;
  }

  .widget-first {
    margin-left: 15px;
  }
}

.header__nav-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .navbar-toggle {
    margin-left: -10px;
    margin-right: 15px;
    width: 42px;
  }
}

.navbar-collapse.collapse {
  @media (min-width: $grid-float-breakpoint) {
    display: flex !important;
    flex-direction: column;
  }
}