.header__top-bar {
  padding-top: 15px;
}

.top-bar__content {
  display: flex;
  justify-content: space-between;
}

.top-bar__left {
    margin-right: auto;
}

.top-bar__right {
    margin-left: auto;
}